.btn {
  position: relative;
  border-radius: 5px;
  padding: 9px 19px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: $color-white;

  &:focus {
    outline: 2px solid $color-violet;
    outline-offset: 2px;
    border-radius: 4px;
  }

  &--fill {
    box-shadow: 0 5px 27px 7px rgba($color-violet, 0.2);
    background-image: $primaryGradient;
    transition: box-shadow 0.5s ease-in-out;

    &:hover::after {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }

    &:hover {
      box-shadow: 0 5px 30px 10px rgba($color-violet, 0.6);
      transition: box-shadow 0.5s ease-in-out;
    }
  }

  &--stroke {
    border: 2px solid $color-violet;
    box-shadow: 0 5px 27px 7px rgba($color-violet, 0.2);
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

    &:hover {
      box-shadow: 0 5px 30px 10px rgba($color-violet, 0.6);
      color: $color-violet;
      transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    }
  }

  @include tablet {
    font-size: 18px;
  }

  @include mobile {
    font-size: 16px;
  }

  @include tablet-landscape {
    font-size: 15px;
  }
}
