.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  padding-top: 39px;
  padding-bottom: 56px;
  width: 100%;
  color: #fff;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    font-size: 30px;
    line-height: 30px;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(98.98deg, $color-violet 2.27%, #fff 193.89%);
    -webkit-background-clip: text;
    background-clip: text;
    user-select: none;

    @include small-tablet {
      font-size: 25px;
    }
  }

  @include tablet-landscape {
    padding-top: 20px;
  }
}
