<section class="games">
  <div class="container games__container">
    <h2 class="title games__title centered">Try your hands on</h2>
    <div class="games__slider">
      <div class="games-button-prev">
        <svg class="">
          <use xlink:href="img/sprite.svg#prev"></use>
        </svg>
      </div>
      <div class="games-button-next">
        <svg class="">
          <use xlink:href="img/sprite.svg#next"></use>
        </svg>
      </div>
      <div class="swiper-pagination games__pag"></div>
      <div class="swiper-wrapper games__grid">
        <div class="swiper-slide games__slide">
          <a href="#" class="games__link">
            <div class="games__img">
              <img loading="lazy" src="img/games/1.jpg" class="image" width="351" height="415"
                alt="game poster Call of Duty">
            </div>
            <div class="games__info">
              <span class="games__stream">28 Streaming</span>
            </div>
        </div>
        </a>
        <div class="swiper-slide games__slide">
          <a href="#" class="games__link">
            <div class="games__img">
              <img loading="lazy" src="img/games/2.jpg" class="image" width="351" height="415"
                alt="game poster PUBG Mobile">
            </div>
            <div class="games__info">
              <span class="games__stream">356 Streaming</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide games__slide">
          <a href="#" class="games__link">
            <div class="games__img">
              <img loading="lazy" src="img/games/3.jpg" class="image" width="351" height="415"
                alt="game poster Fortnine">
            </div>
            <div class="games__info">
              <span class="games__stream">12 Streaming</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide games__slide">
          <a href="#" class="games__link">
            <div class="games__img">
              <img loading="lazy" src="img/games/7.jpg" class="image" width="351" height="415"
                alt="game poster Gears of War 3">
            </div>
            <div class="games__info">
              <span class="games__stream">28 Streaming</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide games__slide">
          <a href="#" class="games__link">
            <div class="games__img">
              <img loading="lazy" src="img/games/8.jpg" class="image" style="object-position: 0 -70px;" width="351" height="415"
                alt="game poster Destiny 2">
            </div>
            <div class="games__info">
              <span class="games__stream">28 Streaming</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide games__slide">
          <a href="#" class="games__link">
            <div class="games__img">
              <img loading="lazy" src="img/games/6.jpg" class="image" width="351" height="415"
                alt="game poster Mortal Combat X">
            </div>
            <div class="games__info">
              <span class="games__stream">60 Streaming</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide games__slide">
          <a href="#" class="games__link">
            <div class="games__img">
              <img loading="lazy" src="img/games/5.jpg" class="image" style="object-position: -380px;" width="351"
                height="415" alt="game poster Red Dead Redemption 2">
            </div>
            <div class="games__info">
              <span class="games__stream games__stream--no-stream">No Streams</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide games__slide">
          <a href="#" class="games__link">
            <div class="games__img">
              <img loading="lazy" src="img/games/4.jpg" class="image" style="object-position: -260px;" width="351"
                height="415" alt="game poster GTA V">
            </div>
            <div class="games__info">
              <span class="games__stream">82 Streaming</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
