<header class="header">
  <div class="container header__container">
    <span class="header__logo">Gruxz</span>
    <nav class="nav" title="Main menu" data-menu>
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item data-scroll>Home</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item data-scroll>Streams</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item data-scroll>Compitions</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item data-scroll>Praicing</a>
        </li>
      </ul>
    </nav>
    <button class="burger" aria-label="Open menu" aria-expanded="false" data-burger>
      <span class="burger__line" data-line></span>
      <span class="burger__line" data-line></span>
    </button>
  </div>
</header>
