<section class="streams" id="streams">
  <div class="container streams__container">

    <div class="streams__left">
      <h2 class="title streams__title">Show your talent</h2>
      <p class="streams__text">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Vivamus magna justo.</p>
      <a href="#" class="streams__link">Start Streaming
        <svg>
          <use xlink:href="img/sprite.svg#streams-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="streams__right">
      <h2 class="title streams__title">Play record share</h2>
      <ul class="streams__list">
        <li class="streams__item">
          <a href="#" class="streams__links">
            <svg class="streams__icon">
              <use xlink:href="img/sprite.svg#game"></use>
            </svg>
          </a>
        </li>
        <li class="streams__item">
          <a href="#" class="streams__links">
            <svg class="streams__icon">
              <use xlink:href="img/sprite.svg#record"></use>
            </svg>
          </a>
        </li>
        <li class="streams__item">
         <a href="#" class="streams__links">
            <svg class="streams__icon">
              <use xlink:href="img/sprite.svg#share"></use>
            </svg>
         </a>
        </li>
      </ul>
    </div>
  </div>
</section>
