<section class="watch" id="watch">
  <div class="container watch__container">
    <h2 class="title watch__title">Watch top pick streams</h2>
    <div class="video-block">
      <button class="btn-reset btn video-block__play" aria-label="Play video">
        <svg>
          <use xlink:href="img/sprite.svg#play"></use>
        </svg>
      </button>
      <!--<button class="btn-reset btn video-block__muted btn--fill" aria-label="Mute video"></button>-->
      <video class="video-block__content" src="gaming.mp4" poster="img/poster-video.jpg" width="719" height="413" muted loop preload="metadata"></video>
    </div>
  </div>
</section>
