// container
$containerWidth: 1131px;
$containerPadding: 15px;

// font
$font-family: "JosefinSans";
$font-size: 20px;
$line-height: 1.5;
$font-weight: 700;
$font-style: normal;

// colors
$bg: #101010;
$text: #dad7d7;
$color-white: #fff;
$color-gray: #9f9f9f;

// bachground
$gradient: linear-gradient(180deg, #101010 0%, rgba(#161616, 0.8) 27.68%, rgba(#161616, 0.5) 54.98%, rgba(#161616, 0.1) 80.76%, rgba(#161616, 0) 100%);
$primaryGradient: linear-gradient(97.16deg, #8f00ff 9.79%, #fff 236.98%);
